.results_table {
  width: 100%;
  margin-top: 50px;

  .title {
    width: 100%;
    font-weight: 500;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; // Added margin for better spacing
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto; // Enable horizontal scrolling
  }

  table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    min-width: 800px; // Set a minimum width to ensure scrolling on smaller screens

    th {
      background-color: #f7f7f8;
      font-size: 14px;
      padding: 20px 12px; // Consistent padding
      text-align: left;
      color: #0f132499;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }

    td {
      border-bottom: 1px solid #ddd;
      padding: 20px 12px; // Consistent padding
      font-size: 16px;
      text-align: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  .results_table {
    .title {
      font-size: 28px; // Adjust title size for smaller screens
    }

    table {
      th, td {
        font-size: 12px; // Smaller text for smaller screens
        padding: 10px 8px; // Reduced padding for space saving
      }

      img {
        width: 30px; // Adjust image size for smaller screens
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 480px) {
  .results_table {
    .title {
      font-size: 24px; // Further reduce title size for very small screens
    }

    table {
      th, td {
        font-size: 10px; // Further reduce font size for very small screens
        padding: 8px; // Reduce padding for very small screens
      }

      img {
        width: 24px; // Further adjust image size for very small screens
        height: 24px;
      }
    }
  }
}
