
.homeMedia {
    margin-top: 30px;
    margin-bottom: 30px;
  
    .videos {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      .videoLink {
        width: 30%;
        text-decoration: none; /* Remove default underline on anchor tag */
        color: inherit; /* Inherit text color */
      }
      .video {
        position: relative;
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #FFFFFF;
        padding-bottom: 20px;
        cursor: pointer;
        img {
          width: 100%;
          border-radius: 10px;
          height: 290px;
        }
        .playicon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 40px; /* Adjust icon size */
          color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
          pointer-events: none;
          
        }
        span {
          margin-left: 20px;
          font-size: 24px;
          font-weight: 500;
        }
  
        .boldroq {
          font-size: 28px;
        }
      }
    }
  
    .images {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .image {
        width: 48%;
  
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  
    /* Responsivlik uchun qo'shimchalar */
  
    /* Planshet (max-width: 1024px) */
    @media (max-width: 1024px) {
      .videos {
        flex-direction: column;
        align-items: center;
        .video {
          width: 90%;
          img {
            height: 250px;
          }
          span {
            font-size: 22px;
          }
          .boldroq {
            font-size: 24px;
          }
        }
      }
  
      .images {
        flex-direction: column;
        .image {
          width: 90%;
          margin-bottom: 20px;
        }
      }
    }
  
    /* Mobil (max-width: 768px) */
    @media (max-width: 768px) {
      .videos {
        .video {
          img {
            height: 200px;
          }
          span {
            font-size: 18px;
          }
          .boldroq {
            font-size: 20px;
          }
        }
      }
    }
  }
  